# Backups
backup_v*/

# System
.DS_Store

# Dependencies
node_modules/

# Assets no web
Video/video vitaneral desktop.mp4
Video/vitaneral_scroll.mp4
brand/
*.pdf
extract.sh
Imagenes/Fotos para video/
